#include <winuser.h>

#define IDR_DICE 128
#define IDB_LOGO 132
#define IDD_WELCOME_PAGE 104
#define IDC_WELCOME_TEXT 1000

#define IDC_STATIC 0

IDR_DICE ICON DISCARDABLE "dice.ico"

IDB_LOGO BITMAP DISCARDABLE "logo.bmp"

IDD_WELCOME_PAGE DIALOGEX 0, 0, 400, 300
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Midgard Charakter Generator"
//FONT 8, "MS Sans Serif", 0, 0, 0x1
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "MCG wird gestartet ...",IDC_WELCOME_TEXT,92,7,219,218
//    CONTROL         IDB_LOGO,IDC_STATIC,"Static",SS_BITMAP,7,7,76,218,WS_EX_CLIENTEDGE
    CONTROL         IDB_LOGO,IDC_STATIC,0,SS_BITMAP,7,7,76,218,WS_EX_CLIENTEDGE
END
